body{
  background-color: #EFf6f6;
  margin: 0;
  text-align: center;

}
hr{
  text-decoration: none;
}
h3{
  color: #66bfbf;
}
h1{
  color: black;
}
.head-from{
  height: auto ;
  width: 300px;
  background: rgb(6,75,87);
  background: linear-gradient(90deg, rgba(6,75,87,0.6814075972185749) 20%, rgba(0,212,255,1) 100%);
  margin: auto;
}
.mid-from{
  width: 300px;
  background: rgb(6,75,87);
  background: linear-gradient(90deg, rgba(6,75,87,0.6814075972185749) 20%, rgba(0,212,255,1) 100%);
  margin: auto;
}
.contact-box{
  margin-top: 120px;
}
#lable{
  margin-bottom: 20px;
}
